<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admincp_site_settings_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admincp_site_setting_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> 系统配置 </h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">ID</th>
          <th>
            <%= t("activerecord.attributes.admincp_site_settings.var", :default => t("activerecord.labels.var", :default => "Var")) %>
          </th>
          <th><%= t("web-app-theme.value", :default => "Value")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @site_settings.each do |site_setting| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= site_setting.id %>
            </td>
            <td>
              <%= link_to site_setting.var, admincp_site_setting_path(site_setting) %>
            </td>
            <td>
              <%= site_setting.value %>
            </td>
            <td class="last">
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admincp_site_setting_path(site_setting) %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admincp_site_setting_path(site_setting) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admincp_site_setting_path(site_setting), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </td>
          </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
