<%= simple_form_for @ad,
  :remote => true,
  :validate => false,
  :html => { :class => 'form-horizontal' }   do |f| %>
  <fieldset>
    <legend><%= @ad.new_record? ? '发布信息' : '编辑信息' %></legend>
    <%= f.input :title %>
    <%= f.input :amount, 
      :hint => "例:30亩,10000斤,500头,30吨，...(夸张数字将被判定为虚假信息)" %>
    <%= f.association :category, 
      :hint => '请选择正确分类，否则有可能被视作违规信息而删除',
      :input_html => {:class => 'chosen'},
      :prompt => '请选择一个分类'  %>
    <%= f.input :xtype, :collection => [['1','供应'], ['2','求购']], 
      :label_method => :last, 
      :value_method => :first, 
      :as => :radio_buttons, 
      :item_wrapper_class => 'inline'%>
    <%= f.input :region_code, 
      :collection => @provinces, 
      :input_html => {
        :class => 'province regions',
        'data-level' => '1', 
        'data-url' => regions_ajax_path
      },
      :prompt => '所在省份' %>
    <%= f.input :body, 
      :input_html => { 
      :class => "body_editor closewarning xxlarge" },
      :as => :text %> 
    <%= f.input :contact_name %>
    <%= f.input :contact_phone %> 
    <%= f.input :contact_qq %>
    <% if !signed_in? %>
      <%= f.input :password, :required => true %>
    <% end %>
    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      <%= link_to(t("common.cancel"), @ad.id.blank? ? root_path : ad_path(@id), :class => "btn")%>
    </div>
  </fieldset>
<% end %>
<% content_for :javascripts do %>
<% end %>
