<%= simple_form_for(@ad, :html => {:class => 'form-horizontal' })  do |f| %>
  <%= render "error_messages", :target => @ad %>
  <fieldset>
    <legend><%= @ad.new_record? ? '发布信息' : '编辑信息' %></legend>
    <%= f.input :title %>
    <%= f.input :amount, :hint => "例:30亩,10000斤,500头,30吨，...(夸张数字将被判定为虚假信息)"%>
    <%= f.association :category, :prompt => '请选择一个分类', :hint => '请选择正确分类，否则有可能被视作违规信息而删除' %>
    <%= f.input :xtype, :collection => [['1','供应'], ['2','求购']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline'%>
    <%= f.input :body, :as => :text, :input_html => { :class => "ad_editor closewarning xxlarge", :style => "height:200px" }%>
    <%= f.input :contact_name %>
    <%= f.input :contact_phone %>
    <%= f.input :contact_qq %>
    <% if !signed_in? %>
      <%= f.input :password, :required => true %>
    <% end %>
    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      <%= link_to(t("common.cancel"), @ad.id.blank? ? root_path : ad_path(@id), :class => "btn")%>
    </div>
  </fieldset>
<% end %>
