<div class="row-fluid">
  <div class="span7">
    <%= simple_form_for(:session, :url => sessions_path) do |f| %>
      <%= render "error_messages", :target => nil %>
      <fieldset>
        <legend>登录</legend>
        <div class="control-group string required">
          <label class="string required control-label" for="session_login"><abbr title="required">*</abbr> 用户名</label>
          <div class="input-prepend ">
            <span class="add-on"><i class="icon-user"></i></span>
            <%= f.text_field :login, :value => ( params[:session][:login] if params[:session]), :placeholder => '用户名', :class => 'string required', 'data-validate' => 'true'%>
          </div>
        </div>
        <div class="control-group string required">
          <label class="string required control-label" for="session_password"><abbr title="required">*</abbr> 用户名</label>
          <div class="input-prepend ">
            <span class="add-on"><i class="icon-key"></i></span>
            <%= f.password_field :password, :placeholder => '密码', :class => 'string required' , 'data-validate' => 'true'%>
          </div>
        </div>
        <div class="control-group checkbox optional">
          <label class="checkbox optional control-label">&nbsp;</label>
          <div class="controls">
            <div class="inputs-list">
              <label for="session_remember_me">
                <%= f.check_box :remember_me, :wrapper => :inline_checkbox, :style => "width:auto;" %>
                两周内自动登录
              </label>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "登    录", :class => "btn btn-primary btn-large", 'data-disable-with' => "请稍后..." %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span5">
    <div class="hero-unit bg-white">
      <p>哇，你还没有本站账号？</p>
      <p>
        <%= link_to  '点这里去注册', signup_path, :class=>"btn btn-primary btn-large"%>
      </p>
    </div>
  </div>
</div>
