<div class="row-fluid">
  <div class="span7">
    <%= simple_form_for(:session, :url => sessions_path) do |f| %>
      <%= render "error_messages", :target => nil %>
      <fieldset>
        <legend>登录</legend>
        <%= f.input :login, :label => "用户名",:input_html => { :value => ( params[:session][:login] if params[:session]), :style => "width:180px;" } %>
        <%= f.input :password, :label => '密&nbsp;&nbsp;&nbsp;&nbsp;码', :input_html => { :style => "width:180px;" } %>
        <div class="control-group checkbox optional">
          <label class="checkbox optional control-label"></label>
          <div class="controls">
            <div class="inputs-list">
              <label for="user_remember_me">
                <%= f.check_box :remember_me, :wrapper => :inline_checkbox, :style => "width:auto;" %>
                两周内自动登录
              </labelk>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "登    录", :class => "btn btn-primary", 'data-disable-with' => "Loading..." %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span5">
    <div class="hero-unit bg-white">
      <p>哇，你还没有本站账号？</p>
      <p>
        <%= link_to  '点这里去注册', signup_path, :class=>"btn btn-primary btn-large"%>
      </p>
    </div>
  </div>
</div>
