<% 
region_options = "<option value=\"\">请选择</option>"
@regions.each  do |r| 
  region_options << "<option value=\"#{r.code}\">#{r.name}</option>"
end %>

$('#<%= @parent_id %>').nextAll().remove();
$('#<%= @parent_id %>').after('<select id="<%= @client_element_id %>" name ="<%= @client_element_name %>" class="<%= @parent_css %>" data-level="<%= @children_level %>" data-url="<%= regions_ajax_path %>" ><%= raw region_options %></select>');
