<% 
region_options = "<option value=\"\">请选择</option>"
@regions.each  do |r| 
  region_options << "<option value=\"#{r.code}\">#{r.name}</option>"
end %>

$('#<%= @parent_id %>').after('<select id="regions_<%= @children_level%>" name ="regions_<%= @children_level%>" class="<%= @parent_css %>" data-level="<%= @children_level %>" data-url="<%= regions_ajax_path %>" ><%= raw region_options %></select>');
