<div class="row-fluid">
  <div class="span12">
    <%= simple_form_for @user, :validate => true, :url => update_password_users_path, :method => :put do |f| %>
      <%= render "error_messages", :target => @user %>
      <fieldset>
        <legend>修改密码</legend>
        <%= f.input :current_password %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <div class="form-actions">
          <%= f.submit "修改密码", :class => "btn btn-primary btn-large", 'data-disable-with' => "请稍后..."%>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

