<div id="header-bar" data-role="header" data-theme="b" >
  <%= link_to '首页', root_path, "class" => "ui-btn-left", "data-icon" => "home" %>
  <h1><%= @title || 'NongMing365' %></h1>
  <%= link_to "退出", signout_path, method: "delete", "class" => "ui-btn-right" %>
</div>
<div data-role="content">
  <%= form_for @user, :url => update_password_users_path, :method => :put do |f| %>
    <%= render "error_messages", :target => @user %>
    <<div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <%= f.password_field :current_password, :placeholder=>'当前密码'%>
      </fieldset>
    </div>
    <<div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <%= f.password_field :password, :placeholder=>'新密码'%>
      </fieldset>
    </div>
    <<div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
        <%= f.password_field :password_confirmation, :placeholder=>'重复新密码'%>
      </fieldset>
    </div>
    <input type="submit" data-icon="forward" data-iconpos="right" value="修改密码" />
  <% end %>
</div>

