<div class="row-fluid">
  <div class="span7">
    <%= simple_form_for @user, :validate => true, :url => users_path, :method => :post do |f| %>
      <%= render "error_messages", :target => @user %>
      <fieldset>
        <legend>注册</legend>
        <%= f.input :username, :input_html => { :value => @user.username } %>
        <%= f.input :password, :input_html => {  } %>
        <%= f.input :password_confirmation, :input_html => {  } %>
        <div class="form-actions">
          <%= f.submit "提交注册信息", 
            :id => 'btnSubmit',
            :class => "btn btn-primary" %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span5">
    <div class="hero-unit bg-white">
      <p>已有本站账号？</p>
      <p>
        <%= link_to  '点这里去登录', signin_path, :class=>"btn btn-primary btn-large" %>
      </p>
    </div>
  </div>
</div>
<% content_for :javascripts do%>
<% end %>
