<div class="row-fluid">
  <div class="span7">
    <%= simple_form_for @user, :validate => true, :url => users_path, :method => :post do |f| %>
      <%= render "error_messages", :target => @user %>
      <fieldset>
        <legend>注册</legend>
        <div class="control-group string required">
          <label class="string required control-label" for="user_login"><abbr title="required">*</abbr> 用户名</label>
          <div class="input-prepend ">
            <span class="add-on"><i class="icon-user"></i></span>
            <%= f.text_field :username, :value => @user.username, :placeholder => '用户名', :class => 'string required', 'data-validate' => 'true'%>
          </div>
        </div>
        <div class="control-group string required">
          <label class="password required control-label" for="user_password"><abbr title="required">*</abbr> 密码</label>
          <div class="input-prepend ">
            <span class="add-on"><i class="icon-key"></i></span>
            <%= f.password_field :password, :placeholder => '密码', :class => 'password required' , 'data-validate' => 'true'%>
          </div>
        </div>
        <div class="control-group string required">
          <label class="string required control-label" for="user_password_confirmation"><abbr title="required">*</abbr> 确认密码</label>
          <div class="input-prepend ">
            <span class="add-on"><i class="icon-key"></i></span>
            <%= f.password_field :password_confirmation, :placeholder => '确认密码', :class => 'string required' , 'data-validate' => 'true'%>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "提交注册信息", 
            :id => 'btnSubmit',
            :class => "btn btn-primary btn-large",
            'data-disable-with' => "请稍后..."
          %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class="span5">
  <div class="hero-unit bg-white">
    <p>已有本站账号？</p>
    <p>
      <%= link_to  '点这里去登录', signin_path, :class=>"btn btn-primary btn-large" %>
    </p>
  </div>
</div>
</div>
<% content_for :javascripts do%>
<% end %>
