<div class="map-section clearfix">
  <dl class="huadong map">
    <dt>华东</dt>
    <dd><a href="<%= condition_list_items_path(:area => '330000000000')%>">浙江</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '350000000000')%>">福建</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '320000000000')%>">江苏</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '340000000000')%>">安徽</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '370000000000')%>">山东</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '360000000000')%>">江西</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '310000000000')%>">上海</a></dd>
  </dl>
  <dl class="huabei map">
    <dt>华北</dt>
    <dd><a href="<%= condition_list_items_path(:area => '110000000000')%>">北京</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '120000000000')%>">天津</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '150000000000')%>">内蒙古</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '130000000000')%>">河北</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '140000000000')%>">山西</a></dd>
  </dl>
  <dl class="xinan map">
    <dt>西南</dt>
    <dd><a href="<%= condition_list_items_path(:area => '510000000000')%>">四川</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '520000000000')%>">贵州</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '530000000000')%>">云南</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '500000000000')%>">重庆</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '540000000000')%>">西藏</a></dd>
  </dl>
  <dl class="xibei map">
    <dt>西北</dt>
    <dd><a href="<%= condition_list_items_path(:area => '650000000000')%>">新疆</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '610000000000')%>">陕西</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '620000000000')%>">甘肃</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '630000000000')%>">青海</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '640000000000')%>">宁夏</a></dd>
  </dl>
  <dl class="huanan map">
    <dt>华南</dt>
    <dd><a href="<%= condition_list_items_path(:area => '440000000000')%>">广东</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '450000000000')%>">广西</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '460000000000')%>">海南</a></dd>
  </dl>
  <dl class="huazhong map">
    <dt>华中</dt>
    <dd><a href="<%= condition_list_items_path(:area => '430000000000')%>">湖南</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '420000000000')%>">湖北</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '410000000000')%>">河南</a></dd>
  </dl>
  <dl class="dongbei map">
    <dt>东北</dt>
    <dd><a href="<%= condition_list_items_path(:area => '230000000000')%>">黑龙江</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '220000000000')%>">吉林</a></dd>
    <dd><a href="<%= condition_list_items_path(:area => '210000000000')%>">辽宁</a></dd>
  </dl>
</div>
