<div class="row-fluid">
  <div class="span9">
    <div class="box gallery-back">
      <div id="item_gallery">
        <% for picture in @pictures %>
          <div class="picture box">
            <a class="tips" href="<%= item_path(picture.imageable) %>" title="<%= picture.imageable.body %>">
              <%= image_tag picture.image_url if not picture.image.blank? %>
            </a>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="span3">
    <div id="tag_cloud">
      <div class="box-header">
        热门标签
      </div>
      <div class="box">
        <%= render_cell :items, :tag_cloud %> 
      </div>
    </div>
    <%= render 'items/sidebar_for_items' %>
  </div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      $('a.tips').tooltip({animation:true, delay: { show: 500, hide: 200 }})
      var $container = $('#item_gallery');
    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector: '.picture',
        gutterWidth: 10,
        isFitWidth: true,
        animationOptions: {
          duration: 400
        }
      });
    });

    });
  </script>
<% end %>
