<div class="row main">
  <div class="span3">
    <%= render_cell :items, :homepage_categories_navbar, {:categories => @categories} %> 
    <div id="tag_cloud">
      <div class="box-header">
        热门标签
      </div>
      <div class="box">
        <%= render_cell :items, :tag_cloud %> 
      </div>
    </div>
  </div>
  <div class="span9">
    <%= render "area_map" %>
    <div class="box gallery-back">
      <div id="item_gallery">
        <% for item in @items %>
          <div class="picture box span2">
            <a class="tips" href="<%= item_path(item) %>" title="<%= item.body %>">
              <%= image_tag item.primary_picture.image_url %>
            </a>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
      <div class="center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      var $container = $('#item_gallery');
      $container.imagesLoaded( function(){
        $container.masonry({
          itemSelector : '.picture',
          gutterWidth  : 10,
          isFitWidth   : true,
          isAnimated   : true,
          columnWidth: function( containerWidth ) {
            return (containerWidth - 4 * 2 * 10 - 3 * 10) / 4;
          },
          animationOptions: {
            duration: 250
          }
        });
      });

      $container.infinitescroll({
        navSelector  : '.pagination',
        nextSelector : '.pagination a.next',
        itemSelector : '.picture',
        loading: {
          finishedMsg: '我已经很努力的把所有带图片定信息全都显示啦.',
        img: '<%= asset_path("icons/loading.gif") %>'
        }
      },
      function( newElements ) {
        var $newElems = $( newElements ).css({ opacity: 0.4 });
        $newElems.imagesLoaded(function(){
          $newElems.animate({ opacity: 1 });
          $container.masonry( 'appended', $newElems, true );
          $('a.tips').tooltip({
            animation: true,
            delay: { show: 300, hide: 200 }
          });
        });

      });

    });
  </script>
<% end %>
