<div class="group">
  <%= f.label :phones, "手机号码", :default => "Cellphone", :class => :label %>
  <%= f.text_area:phones, :class => 'text_area', :placeholder=>'手机号码，多个手机号码请每行一个', :required => true %>
  <span class="description">Ex: 13888888888 ，多个手机号码每行一个</span>
</div>

<div class="group">
  <%= f.label :content, "短信内容", :default => "Message", :class => :label %>
  <%= f.text_area :content, :class => 'text_area' , :placeholder=>'内容，不能超过64个字符', :required => true %>
  <span class="description">不能好过65字符</span>
</div>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
  <%= link_to t("web-app-theme.cancel", :default => "Cancel"), admincp_dashboard_index_path, :class => "text_button_padding link_button" %>
</div>
