<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admincp_categories_path  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admincp_category_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      <p>
        <b>父分类:</b>
        <%= link_to @category.parent.name, admincp_category_url(@category.parent) if @category.parent_id %>
      </p>

      <p>
        <b>名称:</b>
        <%= @category.name %>
      </p>

      <p>
        <b><%= t("activerecord.attributes.admincp_category.slug", :default => t("activerecord.labels.slug", :default => "Slug")) %>:</b>
        <%= @category.slug %>
      </p>
      <div class="wat-cf">

        <%= link_to image_tag("web-app-theme/icons/application_new.png", :alt => "添加子分类") +" " + "添加子分类", new_admincp_category_path(pid: @category.id), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admincp_category_path(@category), :class => "button" %>
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admincp_category_path(@category), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
    <h2 class="title"> “<%= @category.name %>”的子分类</h2>
    <div class="inner">
      <%= render partial: 'category_list', locals: { categories: @category.children } %>
    </div>

  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
