<div class="row-fluid">
  <div class="span9">
    <ul class="nav nav-tabs" id="editTab">
      <li>
        <%= link_to '编辑基本信息', edit_item_path(@item)%>
      </li>
      <li class="active">
        <a href="#">编辑图片</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="box gallery-back">
          <div id="item_gallery">
            <% for picture in @pictures %>
              <div class="picture box">
                <%= image_tag picture.image_url if not picture.image.blank? %>
                <% if can? :destroy, picture %>
                  <div class="actions">
                    <%= link_to raw('<i class="icon-trash"></i>删除'), item_picture_path(@item, picture), :method => :delete, :confirm => "确定删除这张照片？",:class => 'btn btn-small btn-danger' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="clear"></div>
          <% if can? :create, @item.pictures.build %>
            <div id="item_gallery_form">
              <%= simple_form_for [@item, @picture], :html => {:multipart => true} do |f| %>
                <%= render :partial => "form", :locals => {:f => f} %>
              <%end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="span3">
    <div id="tag_cloud">
      <div class="box-header">
        热门标签
      </div>
      <div class="box">
        <%= render_cell :items, :tag_cloud %> 
      </div>
    </div>
    <%= render 'items/sidebar_for_items' %>
  </div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      var $container = $('#item_gallery');
      $container.imagesLoaded( function(){
        $container.masonry({
          itemSelector: '.picture',
          gutterWidth: 10,
          isFitWidth: true,
          animationOptions: {
          duration: 400
          }
        });
      });

    });
  </script>
<% end %>
            <div id="item_gallery_form">
