<div id="condition-list" class="box">
  <div>
    <% if @current_areas or (@current_category_name and @current_category_name.size > 0) or (@current_xtype_name and @current_xtype_name.size > 0) %>
      <dl>
        <dt>已选</dt>
        <dd>
        <ul class="current-condition">
          <% if @current_category_name.size > 0 %>
            <li>
              <a class="close-bredcrumb" href="<%= build_items_list_condition_remove_category_path %>" >
                <%= @current_category_name %>
                <span></span>
              </a>
            </li>
          <% end%>
          <% if @current_xtype_name.size > 0 %>
            <li>
              <a class="close-bredcrumb" href="<%= build_items_list_condition_remove_xtype_path %>" >
                <%= @current_xtype_name %>
                <span></span>
              </a>
            </li>
          <% end%>

          <% if @current_areas %>
            <%= content_tag_for(:li, @current_areas) do |a| %>
              <a class="close-bredcrumb" href="<%= build_items_list_condition_remove_area_path(a.code) %>" >
                <%= a.name %>
                <span></span>
              </a>
            <% end %>
          <% end %>
        </ul>
        </dd> 
      </dl> 
    <% end %>
  </div>
  <div>
    <dl>
      <dt>分类</dt>
      <dd>
      <ul>
        <%= content_tag_for(:li, @categories) do |c| %>
          <%= build_items_list_condition_category_link(c.id, c.name) %>
        <% end %>
      </ul>
      </dd> 
    </dl> 
  </div>
  <div <%= (@regions and @regions.size > 0) ? '' : 'class="bottom"' %> >
    <dl>
      <dt>类型</dt>
      <dd>
      <ul>
        <li><%= build_items_list_condition_xtype_link(1,'供应')%></li>
        <li><%= build_items_list_condition_xtype_link(2,'求购')%></li>
      </ul>
      </dd> 
    </dl> 
  </div>
  <% if @regions and @regions.size > 0 %>
    <div class="bottom">
      <dl>
        <dt><%= @current_areas.nil? ? "地区" : "下辖" %></dt>
        <dd>
        <ul>
          <%= content_tag_for(:li, @regions) do |r| %>
            <li><%= build_items_list_condition_area_link(r.code, r.name) %></li>
          <% end %>
        </ul>
        </dd> 
      </dl> 
    </div>
  <% end %>
</div>
