<%= simple_form_for @item,
  :remote => true,
  :validate => true,
  :html => { :id => 'new_item_form', :class => 'form-horizontal' }   do |f| %>
  <fieldset>
    <legend><%= @item.new_record? ? ( signed_in? ? '' : raw("发布信息<span>（提示：<a href='#{ signup_path }'>注册会员</a>并<a href='#{ signin_path }'>登陆</a>，对自己发的信息有管理或修改权限，未注册登陆发布信息将不能管理和修改) </span>") ) : '编辑信息' %></legend>
    <%= f.input :title %>
    <%= f.input :amount, 
      :hint => "例:30亩,10000斤,500头,30吨，...(夸张数字将被判定为虚假信息)" %>
    <%= f.association :category, 
      :hint => '请选择正确分类，否则有可能被视作违规信息而删除',
      :input_html => {:class => 'chosen'},
      :prompt => '请选择一个分类'  %>
    <%= f.input :xtype, :collection => [['1','供应'], ['2','求购']], 
      :label_method => :last, 
      :value_method => :first, 
      :as => :radio_buttons, 
      :item_wrapper_class => 'inline'%>
    <%= f.input :province_code do %>
      <%= collection_select(:item, :province_code, @provinces, :code, :name, options = {:prompt => '所在省份'},:class => 'province regions' ,'data-level' => '1', 'data-url' => regions_ajax_path, :value => @item.province_code )%>
      <% if @cities  %>
        <%= collection_select(:item, :city_code, @cities, :code, :name, options = {:prompt => '所在城市'},:class => 'province regions' ,'data-level' => '2', 'data-url' => regions_ajax_path, :value => @item.city_code )%>
      <% end %>
      <% if @cities and @counties  %>
        <%= collection_select(:item, :county_code, @counties, :code, :name, options = {:prompt => '所在区县'},:class => 'province regions' ,'data-level' => '3', 'data-url' => regions_ajax_path, :value => @item.county_code )%>
      <% end %>
      <% if @cities and @counties and @towns  %>
        <%= collection_select(:item, :town_code, @towns, :code, :name, options = {:prompt => '所在乡镇'},:class => 'province regions' ,'data-level' => '4', 'data-url' => regions_ajax_path, :value => @item.town_code )%>
      <% end %>
      <% if @cities and @counties and @towns and @villages %>
        <%= collection_select(:item, :village_code, @villages, :code, :name, options = {:prompt => '所在村'},:class => 'province regions' ,'data-level' => '5', 'data-url' => regions_ajax_path, :value => @item.village_code )%>
      <% end %>
    <% end %>
    <%= f.input :body, 
      :input_html => { 
      :class => "body-editor" },
      :as => :text %> 
    <%= f.input :contact_name %>
    <%= f.input :contact_phone %> 
    <%= f.input :contact_qq %>
    <%= f.input :tag_list, 
      :hint => "例:秦美,猕猴桃,陕西,眉县...(用逗号隔开的关键字,便于你的信息被搜索到)" %>
    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      <%= link_to(t("common.cancel"), @item.id.blank?? root_path : item_path(@item.id), :class => "btn")%>
    </div>
  </fieldset>
<% end %>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $('#new_item_form').enableClientSideValidations();
    $('#item_title').focus();
    </script>
  <% end %>
