<%= form_for @item, :remote => false,
  :html => { :id => 'new_item_form' }   do |f| %>
  <%= render "error_messages", :target => @item %>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <%= f.text_field :title, :required => true ,:placeholder=>'标题', :value=> @item.title %>
    </fieldset>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <%= f.text_field :amount, :required => true ,:placeholder=>'数量,例:30亩,10000斤', :value=> @item.amount %>
    </fieldset>
  </div>
  <div data-role="fieldcontain" >
    <fieldset data-role="controlgroup">
      <%= f.input :category_id  do %>
      <%= collection_select(:item, :category_id, @categories, :id, :name, options = {:prompt => '请选择分类'},:class => 'chosen categories' ,'data-level' => '1', 'data-url' => categories_ajax_path, :value => @item.category_id)%>
      <% if !@item.new_record? %>
      <%= collection_select(:item, :category2_id, @item.category.children, :id, :name, options = {:prompt => '请选择二级分类'},:class => 'chosen categories' ,'data-level' => '2', 'data-url' => categories_ajax_path, :value => @item.category2_id)%>
      <% end %>
      <% end %>
    </fieldset>

  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <%= f.select(:xtype, [['供应','1'], ['求购','2']], :value => @item.xtype) %> 
    </fieldset>
  </div>
  <div data-role="fieldcontain" id="item_province_code_div" >
    <fieldset data-role="controlgroup">
      <%= collection_select(:item, :province_code, @provinces, :code, :name, options = {:prompt => '所在省份'},:class => 'province regions' ,'data-level' => '1', 'data-url' => regions_ajax_path, :value => @item.province_code ) %>
      <% if @cities %>
      <%= collection_select(:item, :city_code, @cities, :code, :name, options = {:prompt => '所在城市'},:class => 'province regions' ,'data-level' => '2', 'data-url' => regions_ajax_path, :value => @item.city_code ) %>
      <% end %>
      <% if @cities and @counties %>
      <%= collection_select(:item, :county_code, @counties, :code, :name, options = {:prompt => '所在区县'},:class => 'province regions' ,'data-level' => '3', 'data-url' => regions_ajax_path, :vallue => @item.county_code ) %>
      <% end %>
      <% if @cities and @counties and @towns %>
      <%= collection_select(:item, :town_code, @towns, :code, :name, options = {:prompt => '所在乡镇'},:class => 'province regions' ,'data-level' => '4', 'data-url' => regions_ajax_path, :value=> @item.town_code ) %>
      <% end %>
      <% if @cities and @counties and @towns and @villages %>
      <%= collection_select(:item, :village_code, @villages, :code, :name, options = {:prompt => '所在村'},:class => 'province regions' ,'data-level' => '5', 'data-url' => regions_ajax_path, :value => @item.village_code ) %>
      <% end %>
    </fieldset>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <%= f.text_area :body, :required => true, :placeholder=>'内容' , :value => @item.body , :rows => '5', :style => "min-width:100%; max-width:100%; min-height:120px;"%> 
    </fieldset>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <%= f.text_field :contact_name , :required => true ,:placeholder=>'联系人', :value => @item.contact_name %>
    </fieldset>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <%= f.phone_field :contact_phone , :required => true ,:placeholder=>'联系人电话', :value => @item.contact_phone %> 
    </fieldset>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <%= f.number_field :contact_qq , :required => true ,:placeholder=>'联系QQ', :value => @item.contact_qq %>
    </fieldset>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <%= f.text_field :tag_list , :required => true ,:placeholder=>'例:秦美,猕猴桃,陕西,眉县...(用逗号隔开的关键字,便于你的信息被搜索到)', :value => @item.tag_list %>
    </fieldset>
  </div>
  <input type="submit" data-icon="forward" data-iconpos="right" value="发布" />
  <% end %>
  <% content_for :javascripts do %>
  <% end %>
