
<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= build_items_list_area_link item %></td>
        <td><%= link_to item.title, item_path(item) %></td>
        <td><%= item.amount %></td>
        <td><%= item.xtype %></td>
        <td><%= item.contact_name %></td>
        <td><%= item.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>

