<div id="page" data-role="page">
  <div id="header-bar" data-role="header" data-theme="b" >
    <%= link_to '首页', root_path, "class" => "ui-btn-left", "data-icon" => "home" %>
    <h1><%= @page_title || @title || 'NongMing365' %></h1>
    <% unless signed_in? %>
      <%= link_to '登录', signin_path, "class" => "ui-btn-right" %>
    <% else %>
      <%= link_to "退出", signout_path, method: "delete", "class" => "ui-btn-right" %>
    <% end %>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-divider-theme="b" data-inset="false">
      <% @items.each do |item| %>
        <li data-theme="c">
          <a href="<%= item_path(item) %>" data-transition="slide">
            <%= item.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="pager-bar" class="text-align-center"  >
    <%= link_to_previous_page @items, '上一页', "data-role"=>"button", "data-inline" => true, "data-icon" =>"arrow-l" %>
    <%= link_to_next_page @items, '下一页', "data-role"=>"button", "data-inline" => true, "data-icon" =>"arrow-r", "data-iconpos" => "right" %>
  </div>
</div>
