<div id="page" data-role="page">
  <div id="header-bar" data-role="header" data-theme="b" >
    <%= link_to '首页', root_path, "class" => "ui-btn-left", "data-icon" => "home" %>
    <h1><%= @page_title || @title || 'NongMing365' %></h1>
    <% unless signed_in? %>
      <%= link_to '登录', signin_path, "class" => "ui-btn-right" %>
    <% else %>
      <%= link_to "退出", signout_path, method: "delete", "class" => "ui-btn-right" %>
    <% end %>
  </div>
  <div data-role="content">
    <%= render 'form' %>
  </div>
</div>
