<div class="row">
  <div class="span9">
    <%= render "condition_list" %>
    <div class="box content">
      <ul class="prop">
        <li class="left"><label>数量：</label> <%= @item.amount %> </li>
        <li class="right"><label>发布时间：</label>
          <%#= @item.created_at.strftime('%Y-%m-%d') %>
          <%#= Time.at(@item.refresh_at).strftime('%Y-%m-%d %H:%M') %>
          <%= Time.at(@item.refresh_at).strftime('%Y-%m-%d') %>
        </li>
        <li class="left"><label>分类：</label> <%= @item.category.name %> </li>
        <li class="right"><label>类型：</label> <%= @item.xtype == 1 ? '供应' : '求购' %> </li>
        <li class="left"><label>联系人：</label> <%= @item.contact_name %> </li>
        <li class="right"><label>联系QQ：</label> <%= @item.contact_qq == '000000' ? '': @item.contact_qq %> </li>
        <li class="left"><label>IP：</label> <%= @item.ip %> </li>
        <li class="right"><label>联系电话：</label> <%= @item.contact_phone %> </li>
        <li class="left"><label>浏览次数：</label> <span id="item-visit-counts"><%= @item.visit_count %></span> </li>
        <li class="from"><label>来自：</label>
          <%= @item.province_name %> - <%= @item.city_name %> - <%= @item.county_name %> - <%= @item.town_name %> - <%= @item.village_name %>
        </li>
        <li class="tags"><label>标签：</label>
          <%= raw @item.tags.map(&:name).map{ |tag| link_to tag, items_tags_path(:tag => tag)}.join('') %>
        </li>
      </ul>
      <div id="line"></div>
      <div class="body">
        <pre><%= @item.body %></pre>
    </div>
    <div class="opts">
      <%= link_to raw('<i class="icon-refresh"></i>刷新'), refresh_item_path(@item), :method => :put, :class => 'btn btn-small' %>
      <% if can? :edit, @item %> 
        <%= link_to raw('<i class="icon-pencil"></i>修改'), edit_item_path(@item), :class => 'btn btn-small' %>
      <% end %> 
      <% if can? :destroy, @item %> 
        <%= link_to raw('<i class="icon-trash"></i>删除'), item_path(@item), :method => :delete, :confirm => "确定删除本产品信息？",:class => 'btn btn-small btn-danger' %>
      <% end %> 
      <!-- Baidu Button BEGIN -->
      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="display:inline;">
        <span class="bds_more">分享到：</span>
        <a class="bds_qzone">QQ空间</a>
        <a class="bds_tsina">新浪微博</a>
        <a class="bds_tqq">腾讯微博</a>
        <a class="bds_renren">人人网</a>
        <a class="bds_t163">网易微博</a>
        <a class="shareCount"></a>
      </div>
      <!-- Baidu Button END -->
    </div>
  </div>
</div>
<div class="span3">
  <div id="tag_cloud">
    <div class="box-header">
      热门标签
    </div>
    <div class="box">
      <%= render_cell :items, :tag_cloud %> 
    </div>
  </div>
  <%= render 'sidebar_for_items' %>
</div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.ajax({
        url: '<%= show_hits_item_path %>',
      type: "GET",
      success: function(data, textStatus, jqXHR) {
        $('#item-visit-counts').text(jqXHR.getResponseHeader('X-NM365-Item-Hits'));
      }
      });
    });
  </script>
  <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6622985" ></script>
  <script type="text/javascript" id="bdshell_js"></script>
  <script type="text/javascript">
    var bdshell_js = document.getElementById("bdshell_js");
    if(bdshell_js){
      bdshell_js.src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
    }
  </script>
<% end %>
