<div class="row">
  <div class="span9">
    <%= render "condition_list" %>
    <div class="box content">
      <ul class="prop">
        <li class="left"><label>数量：</label> <%= @item.amount %> </li>
        <li class="right"><label>发布时间：</label> <%= @item.created_at.strftime('%Y-%m-%d %H:%M') %> </li>
        <li class="left"><label>分类：</label> <%= @item.category.name %> </li>
        <li class="right"><label>类型：</label> <%= @item.xtype == 1 ? '供应' : '求购' %> </li>
        <li class="left"><label>联系人：</label> <%= @item.contact_name %> </li>
        <li class="right"><label>联系QQ：</label> <%= @item.contact_qq %> </li>
        <li class="left"><label>IP：</label> <%= @item.ip %> </li>
        <li class="right"><label>联系电话：</label> <%= @item.contact_phone %> </li>
        <li class="left"><label>浏览次数：</label> <span id="item-visit-counts"><%= @item.visit_count %></span> </li>
        <li class="from"><label>来自：</label>
          <%= @item.province_name %> - <%= @item.city_name %> - <%= @item.county_name %> - <%= @item.town_name %> - <%= @item.village_name %>
        </li>
        <li class="tags"><label>标签：</label>
          <%= raw @item.tags.map(&:name).map{ |tag| link_to tag, items_tags_path(:tag => tag)}.join(',') %>
        </li>
      </ul>
      <div id="line"></div>
      <div class="body">
        <%= @item.body %>
        <div class="opts">
          <% if current_user and (current_user.id == @item.user_id or current_user.has_role?(:founder) or current_user.has_role(:admin)) %> 
             <%= link_to raw('<i class="icon-pencil"></i>修改'), edit_item_path %>
        <% end %> 
      </div>
    </div>
  </div>
</div>
<div class="span3">
  <div id="tag_cloud">
    <div class="box-header">
      热门标签
    </div>
    <div class="box">
      <%= render_cell :items, :tag_cloud %> 
    </div>
  </div>
  <%= render 'sidebar_for_items' %>
</div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
url: '<%= show_hits_item_path %>',
type: "GET",
success: function(data, textStatus, jqXHR) {
$('#item-visit-counts').text(jqXHR.getResponseHeader('X-NM365-Item-Hits'));
}
});
        });
</script>
<% end %>
