<div class="row">
  <div class="span3">
    <%= render_cell :items, :homepage_categories_navbar, {:categories => @categories} %> 
  </div>
  <div class="span7">
    <%= render "condition_list" %>
    <div class="box content">
      <ul class="prop">
        <li class="left"><label>数量：</label> <%= @item.amount %> </li>
        <li class="right"><label>发布时间：</label>
          <%#= @item.created_at.strftime('%Y-%m-%d') %>
          <%#= Time.at(@item.refresh_at).strftime('%Y-%m-%d %H:%M') %>
          <%= Time.at(@item.refresh_at).strftime('%Y-%m-%d') %>
        </li>
        <li class="left"><label>分类：</label> <%= @item.category.name %> </li>
        <li class="right"><label>类型：</label> <%= @item.xtype == 1 ? '供应' : '求购' %> </li>
        <li class="left"><label>联系人：</label> <%= @item.contact_name %> </li>
        <li class="right"><label>联系QQ：</label> <%= @item.contact_qq == '000000' ? '': @item.contact_qq %> </li>
        <li class="left"><label>IP：</label> <%= @item.ip %> </li>
        <li class="right"><label>联系电话：</label> <%= @item.contact_phone %> </li>
        <li class="left"><label>浏览次数：</label> <span id="item-visit-counts"><%= @item.visit_count %></span> </li>
        <li class="from"><label>来自：</label>
          <%= @item.province_name %> - <%= @item.city_name %> - <%= @item.county_name %> - <%= @item.town_name %> - <%= @item.village_name %>
        </li>
        <li class="tags"><label>标签：</label>
          <%= raw @item.tags.map(&:name).map{ |tag| link_to tag, items_tags_path(:tag => tag)}.join('') %>
        </li>
      </ul>
      <div id="line"></div>
      <div class="body radius">
        <pre class="radius"><%= @item.body %></pre>
      </div>
      <% if @item.pictures.size > 0 %>
        <div class="box gallery-back radius">
          <div id="item_gallery">
            <% for picture in @item.pictures %>
              <div class="picture">
                <%= image_tag picture.image_url if not picture.image.blank? %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="radius">
        <table style="width:100%; border:none;" border="0">
          <td style="width:50%;" id="gg1">
          </td>
          <td id="gg2">
          </td>
        </table>
      </div>
      <% content_for :javascripts do %>
        <script>
          window.MyAdSense.newAd(document.getElementById('gg1'), {
            'ad_slot': "7789246118",
            'ad_width': 250,
            'ad_height': 250
          });
          window.MyAdSense.newAd(document.getElementById('gg2'), {
            'ad_slot': "7789246118",
            'ad_width': 250,
            'ad_height': 250
          });
        </script>
        <script type="text/javascript">
          $(function(){
            var $container = $('#item_gallery');
              $container.imagesLoaded( function(){
                $container.masonry({
                  itemSelector: '.picture',
                  gutterWidth: 10,
                  isFitWidth: true,
                  animationOptions: {
                    duration: 400
                  }
                });
              });

          });
        </script>
      <% end %>
      <div class="opts">
        <% if @item.pictures.size > 0 %>
          <%= social_share_button_tag("天天农业[NongMin365.COM]#{@item.title}", :image => @item.pictures[0].image_url) %>
        <% else %>
          <%= social_share_button_tag("天天农业[NongMin365.COM]#{@item.title}") %>
        <% end %>
        <% if can? :edit, @item %>
          <%= link_to raw('<i class="icon-refresh"></i>刷新'), refresh_item_path(@item), :method => :put, :class => 'btn btn-small btn-success' %>
          <%= link_to raw('<i class="icon-pencil"></i>修改'), edit_item_path(@item), :class => 'btn btn-small' %>
        <% end %> 
        <% if can? :destroy, @item %> 
          <%= link_to raw('<i class="icon-trash"></i>删除'), item_path(@item), :method => :delete, :confirm => "确定删除本产品信息？",:class => 'btn btn-small btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span2">
    <div id="tag_cloud">
      <div class="box-header">
        热门标签
      </div>
      <div class="box">
        <%= render_cell :items, :tag_cloud %> 
      </div>
    </div>
    <%= render 'sidebar_for_items' %>
  </div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $.ajax({
        url: '<%= show_hits_item_path %>',
      type: "GET",
      success: function(data, textStatus, jqXHR) {
        $('#item-visit-counts').text(jqXHR.getResponseHeader('X-NM365-Item-Hits'));
      }
      });
    });
  </script>
<% end %>
