<div class="row content">
  <div class="span9">
    <%= render "condition_list" %>
  <div class="box">
    <%= @item.title %> <br/>
    <%= @item.amount %> <br/>
    <%= @item.body %> <br/>
    <%= @item.contact_name %> <br/>
    <%= @item.contact_phone %> <br/>
    <%= @item.contact_qq %> <br/>
    <%= @item.province_name %> - <%= @item.city_name %> - <%= @item.county_name %> - <%= @item.town_name %> - <%= @item.village_name %><br/>
    <%= @item.ip %> <br/>
    <%= @item.xtype == 1 ? '供应' : '求购' %> <br/>
    </div>
  </div>
  <div class="span3">
    <%= render 'sidebar_for_new_item' %>
  </div>
</div>
