<header id="header" class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<%= render "chromeframe" %>
  <div class="container">
    <a class="brand" href="#">NongMin365.com</a>
    <nav>
    <ul class="nav pull-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Users", '#' %></li>
        <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user.username %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "我的信息", '#' %></li>
          <li><%= link_to "修改密码",change_password_users_path %></li>
          <li class="divider"></li>
          <li><%= link_to "后台", admincp_dashboard_index_path %></li>
          <li><%= link_to "后台(*)", rails_admin_path %></li>
          <li>
          <%= link_to "退出", signout_path, method: "delete" %>
          </li>
        </ul>
        </li>
      <% else %>
        <li><%= link_to "登录", signin_path %></li>
      <% end %>
    </ul>
    </nav>
  </div>
</div>
</header>
