<div class="navbar navbar-fixed-top">
<%= render "chromeframe" %>
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">NongMin365.com</a>
      <div class="nav-collapse" id="main-menu">
        <%= render_list({:class => "nav",:id => 'main-menu-left'}) do |li|
          li << link_to("首页", root_path)
          li << link_to("贸易广场", desktop_path)
          li << link_to("发布产品", new_item_path)
          li << link_to("产品搜索", search_path)
        end %>
      <ul class="nav pull-right" id="main-menu-right">
        <% if signed_in? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle cp" data-toggle="dropdown">
              <i class="icon-user"></i>
              <%= current_user.username %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to '发布产品', new_item_path %></li>
              <li><%= link_to "我的信息", my_items_users_path %></li>
              <li><%= link_to "修改密码", change_password_users_path %></li>
              <li><%= link_to "我的资料", edit_users_path %></li>
              <li class="divider"></li>
              <% if current_user.has_role?(:founder) or current_user.has_role?(:admin) %>
                <li><%= link_to "后台", admincp_dashboard_index_path, :target=>'blank' %></li>
              <%end%>
              <li>
                <%= link_to "退出", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "注册", signup_path %></li>
          <li><%= link_to "登录", signin_path %></li>
        <% end %>
        <%#<li><a rel="tooltip" target="_blank" href="https://wrapbootstrap.com/?ref=bsw" title="Marketplace for premium Bootstrap templates" onclick="_gaq.push(['_trackEvent', 'click', 'outbound', 'wrapbootstrap']);">WrapBootstrap <i class="icon-share-alt"></i></a></li>%>
      </ul>
    </div>
  </div>
</div>
<%= render "flashes" %>
</div>
