<!DOCTYPE html>
<html>
  <head>
    <title><%= SiteSettings.site_name %> | 后台管理系统</title>
    <%= stylesheet_link_tag 'admincp' %>
    <%= javascript_include_tag 'admincp' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="<%= admincp_dashboard_index_path %>"><%= SiteSettings.site_name %> | 后台管理系统</a></h1>
        <div id="user-navigation">
          <ul class="wat-cf">
            <li><%= link_to "首页", root_path %></li>
            <li>
              <%= link_to t("web-app-theme.logout", :default => "退出"), signout_path, method: "delete" , class: "logout"%>
            </li>
          </ul>
        </div>
        <div id="main-navigation">
          <ul class="wat-cf"> 
            <li class="<%= controller.controller_path == 'admincp/categories' ? 'active' : '' %>"><a href="<%= admincp_categories_path %>">分类管理</a></li> 
            <li class="<%= controller.controller_path == 'admincp/users' ? 'active' : '' %>"><a href="<%= admincp_users_path %>">用户管理</a></li> 
            <li class="<%= controller.controller_path == 'admincp/site_settings' ? 'active' : '' %>"><a href="<%= admincp_site_settings_path %>">配置管理</a></li>
            <li class="<%= controller.controller_path == 'admincp/sms' ? 'active' : '' %>"><a href="<%= admincp_new_sms_path%>">群发短信</a></li>
          </ul>
        </div>
      </div>
      <div id="wrapper" class="wat-cf">
        <div class="flash">  
          <% add_errors_to_flash_now %>  
          <% flash.each do |type, message| -%>  
            <div class="message <%= type %>">  
              <% if message.instance_of? Array %>  
                <% message.each do |msg| %>  
                  <p><%= msg %></p>  
                <% end %>  
              <% else %>  
                <p><%= message %></p>  
              <% end %>  
            </div>  
          <% end -%>  
        </div>  
        <div id="main">
          <%= yield %>
          <div id="footer">
            <div class="block">
              <p>Copyright &copy; <%= Time.now.year %> NongMing365.com</p>
            </div>
          </div>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
  </body>
</html>
