<!DOCTYPE html>
<html>
  <head>
    <title>后台管理系统</title>
    <%= stylesheet_link_tag 'admincp' %>
    <%= javascript_include_tag 'admincp' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="<%= admincp_dashboard_index_path %>">后台管理系统</a></h1>
        <div id="user-navigation">
          <ul class="wat-cf">
            <li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
            <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
            <li>
            <%= link_to t("web-app-theme.logout", :default => "退出"), signout_path, method: "delete" , class: "logout"%>
            </li>
          </ul>
        </div>
        <div id="main-navigation">
          <ul class="wat-cf"></ul>
        </div>
      </div>
      <div id="wrapper" class="wat-cf">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        <div id="main">
          <%= yield %>
          <div id="footer">
            <div class="block">
              <p>Copyright &copy; <%= Time.now.year %> NongMing365.com</p>
            </div>
          </div>
        </div>
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
  </body>
</html>
