<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js", :lang => "en" %>
  <%= render "head" %>
  <body class="pages">
    <%= render "chromeframe" %>
    <%= render "header" %>
    <div id="main" role="main">
      <%= render "flashes" %>
      <div class="container master-container">
        <ul class="breadcrumb">
          <%= yield :breadcrumb %>
        </ul>
        <% if notice %>
          <div class="alert alert-success fade in" data-alert="alert">
            <a class="close" data-dismiss='alert' href="#">×</a>
            <p><%= notice %></p>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= render "footer" %>
    <%# Javascript at the bottom for fast page loading %>
    <%= render "javascripts" %>
  </body>
</html>
