<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js", :lang => "en" %>
<%= render "head" %>
<%= render_body_tag %>
<%= render "header" %>
<div class="container master-container">
  <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <%= render_breadcrumb %>
  </div>
  <div id="main" class="container-fluid">
    <%= render "flashes" %>
    <%= yield %>
  </div>
</div>
<%= render "footer" %>
<%# Javascript at the bottom for fast page loading %>
<%= render "javascripts" %>
  </body>
</html>
