<% content_for :content do %>
  <div class="row">
    <div class="span3">
      <div id="left-nav">
        <ul class="nav nav-tabs nav-stacked">
          <li class="<%= params[:id] == 'about' ? 'active' : '' %>"><%= link_to raw('<i class="icon-chevron-right"></i>关于我们'), static_page_path('about') %></li>
          <li class="<%= params[:id] == 'contact' ? 'active' : '' %>"><%= link_to raw('<i class="icon-chevron-right"></i>联系我们'), static_page_path('contact') %></li>
          <li class="<%= params[:id] == 'help' ? 'active' : '' %>"><%= link_to raw('<i class="icon-chevron-right"></i>帮助中心'), static_page_path('help') %></li>
        </ul>
      </div> 
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
